<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="professeur">
      <h2 data-cy="professeurDetailsHeading"><span>Professeur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ professeur.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ professeur.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ professeur.prenom }}</span>
        </dd>
        <dt><span>Cin</span></dt>
        <dd>
          <span>{{ professeur.cin }}</span>
        </dd>
        <dt><span>Adress</span></dt>
        <dd>
          <span>{{ professeur.adress }}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
          <span>{{ professeur.ville }}</span>
        </dd>
        <dt><span>Pays</span></dt>
        <dd>
          <span>{{ professeur.pays }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ professeur.telephone }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ professeur.email }}</span>
        </dd>
        <dt><span>Grade</span></dt>
        <dd>
          <span>{{ professeur.grade }}</span>
        </dd>
        <dt><span>Spetialite</span></dt>
        <dd>
          <span>{{ professeur.spetialite }}</span>
        </dd>
        <dt><span>Type De Contrat</span></dt>
        <dd>
          <span>{{ professeur.typeDeContrat }}</span>
        </dd>
        <dt><span>Date Contrat</span></dt>
        <dd>
          <span>{{ professeur.dateContrat | formatMediumDate }}</span>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
          <span>{{ professeur.genre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/professeur', professeur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
