<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="matiere">
      <h2 data-cy="matiereDetailsHeading"><span style="text-align: center; font-weight: bold; color: blue;font-family: Rockwell;">Matiere</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ matiere.id }}</span>
        </dd>
        <dt><span>Nom Matiere</span></dt>
        <dd>
          <span>{{ matiere.nomMatiere }}</span>
        </dd>
        <dt><span>Coefficient</span></dt>
        <dd>
          <span>{{ matiere.coefficient }}</span>
        </dd>
        <dt><span>Nombre Heures</span></dt>
        <dd>
          <span>{{ matiere.nombreHeures }}</span>
        </dd>
        <dt><span>Nombre Examen</span></dt>
        <dd>
          <span>{{ matiere.nombreExamen }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span style="font-weight: bold;">Retour</span>
      </button>

      <button type="button" [routerLink]="['/matiere', matiere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span style="font-weight: bold;">Modifier</span>
      </button>
    </div>
  </div>
</div>
