<div class="d-flex justify-content-center">
  <div class="col-8 border p-4">
    <h2 id="jhi-matiere-heading" data-cy="MatiereCreateUpdateHeading" style="text-align: center; font-weight: bold;" >Create or edit a Matiere</h2>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="field_nomMatiere">Nom Matiere</label>
        <input type="text" class="form-control" name="nomMatiere" id="field_nomMatiere" data-cy="nomMatiere" formControlName="nomMatiere" />
      </div>
    
      <div class="mb-3">
        <label class="form-label" for="field_coefficient">Coefficient</label>
        <input type="number" class="form-control" name="coefficient" id="field_coefficient" data-cy="coefficient" formControlName="coefficient" />
      </div>
    
      <div class="mb-3">
        <label class="form-label" for="field_nombreHeures">Nombre Heures</label>
        <input type="number" class="form-control" name="nombreHeures" id="field_nombreHeures" data-cy="nombreHeures" formControlName="nombreHeures" />
      </div>
    
      <div class="mb-3">
        <label class="form-label" for="field_nombreExamen">Nombre Examen</label>
        <input type="number" class="form-control" name="nombreExamen" id="field_nombreExamen" data-cy="nombreExamen" formControlName="nombreExamen" />
      </div>
    
      <div class="d-grid gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary me-3" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span style="font-weight: bold;">Cancel</span>
        </button>
    
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span style="font-weight: bold;">Save</span>
        </button>
      </div>
    </form>
    
  </div>
</div>