<div>
  <h2 id="page-heading" data-cy="ExamenHeading" style="text-align: center;font-family: Rockwell; font-weight: bold; color: blue;">
    <span>Liste des Examen</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span style="font-weight: bold;">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-examen"
        [routerLink]="['/examen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span style="font-weight: bold;"> Créer un nouvel examen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="examen?.length === 0">
    <span style="font-family: Rockwell;">Aucun examen trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="examen && examen.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numExamen">
            <div class="d-flex">
              <span>Num Examen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pourcentage">
            <div class="d-flex">
              <span>Pourcentage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valide">
            <div class="d-flex">
              <span>Valide</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateExamen">
            <div class="d-flex">
              <span>Date Examen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duree">
            <div class="d-flex">
              <span>Duree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomExamen">
            <div class="d-flex">
              <span>Nom Examen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomMatiere.nomMatiere">
            <div class="d-flex">
              <span>Nom Matiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomClasse.nomClasse">
            <div class="d-flex">
              <span>Nom Classe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let examen of examen; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/examen', examen.id, 'view']">{{ examen.id }}</a>
          </td>
          <td>{{ examen.numExamen }}</td>
          <td>{{ examen.pourcentage }}</td>
          <td>{{ examen.valide }}</td>
          <td>{{ examen.dateExamen | formatMediumDate }}</td>
          <td>{{ examen.duree }}</td>
          <td>{{ examen.nomExamen }}</td>
          <td>
            <div *ngIf="examen.nomMatiere">
              <a [routerLink]="['/matiere', examen.nomMatiere.id, 'view']">{{ examen.nomMatiere.nomMatiere }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="examen.nomClasse">
              <a [routerLink]="['/classe', examen.nomClasse.id, 'view']">{{ examen.nomClasse.nomClasse }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/examen', examen.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" style="font-weight: bold;">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/examen', examen.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" style="font-weight: bold;">Modifier</span>
              </button>

              <button type="submit" (click)="delete(examen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" style="font-weight: bold;">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
