<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" class="border p-3">
      <h2 id="jhi-cours-heading" data-cy="CoursCreateUpdateHeading"  style="text-align: center; font-weight: bold; color: blue;font-family: Rockwell;" >Créer ou modifier un cours</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numeroCours">Numero Cours</label>
          <input
            type="number"
            class="form-control"
            name="numeroCours"
            id="field_numeroCours"
            data-cy="numeroCours"
            formControlName="numeroCours"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateCour">Date Cour</label>
          <div class="input-group">
            <input
              id="field_dateCour"
              data-cy="dateCour"
              type="text"
              class="form-control"
              name="dateCour"
              ngbDatepicker
              #dateCourDp="ngbDatepicker"
              formControlName="dateCour"
            />
            <button type="button" class="btn btn-secondary" (click)="dateCourDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_enseignerPar">Enseigner Par</label>
          <select
            class="form-control"
            id="field_enseignerPar"
            data-cy="enseignerPar"
            name="enseignerPar"
            formControlName="enseignerPar"
            [compareWith]="compareProfesseur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="professeurOption" *ngFor="let professeurOption of professeursSharedCollection">
              {{ professeurOption.cin }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pourLaClasse">Pour La Classe</label>
          <select
            class="form-control"
            id="field_pourLaClasse"
            data-cy="pourLaClasse"
            name="pourLaClasse"
            formControlName="pourLaClasse"
            [compareWith]="compareClasse"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="classeOption" *ngFor="let classeOption of classesSharedCollection">{{ classeOption.nomClasse }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomMatiere">Nom Matiere</label>
          <select
            class="form-control"
            id="field_nomMatiere"
            data-cy="nomMatiere"
            name="nomMatiere"
            formControlName="nomMatiere"
            [compareWith]="compareMatiere"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="matiereOption" *ngFor="let matiereOption of matieresSharedCollection">{{ matiereOption.nomMatiere }}</option>
          </select>
        </div>
      </div>

      <div class="d-grid gap-2">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary mr-2" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span style="font-weight: bold;">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span style="font-weight: bold;">Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>